<%= form_with url: result_diagnostics_path, local: true, html: { class: "p-4" } do |form| %>
  <% @questions.each do |question| %>
    <div class="question py-4">
      <%= question.question_text %>
      <div class="form-control">
        <label class="label cursor-pointer">
          <%= form.radio_button :answers, true, name: "answers[#{question.id}]", class: "radio radio-primary" %>
          <span class="label-text">Yes</span>
        </label>
        <label class="label cursor-pointer">
          <%= form.radio_button :answers, false, name: "answers[#{question.id}]", class: "radio radio-primary" %>
          <span class="label-text">No</span>
        </label>
      </div>
    </div>
  <% end %>
  <%= form.submit "回答", class: "btn btn-accent btn-lg shadow-lg" %>
<% end %>
