<%= form_with url: diagnostics_path, local: true do |form| %>
  <% @questions.each do |question| %>
    <div class="question">
      <%= question.question_text %>
      <%= form.radio_button :answers, true, name: "answers[#{question.id}]" %> Yes
      <%= form.radio_button :answers, false, name: "answers[#{question.id}]" %> No
    </div>
  <% end %>
  <%= form.submit "Submit" %>
<% end %>
