<div class="container mx-auto p-3">
  <div class="flex flex-col md:flex-row md:justify-between items-center">
    <h1 class="text-2xl font-bold mb-5"><%= "プロフィール" %></h1>
    <%= link_to t('defaults.edit'), edit_profile_path, class: 'btn btn-success' %>
  </div>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <tbody>
        <tr>
          <th><%= User.human_attribute_name(:email) %></th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:name) %></th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th>画像</th>
          <td>
            <% if current_user.avatar.present? %>
              <%= image_tag current_user.avatar.url, class: "h-24 w-24 rounded-full" %>
            <% else %>
              画像がありません
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
