<header class="navbar bg-base-100">
  <%= link_to root_path, class: "btn btn-ghost normal-case text-xl" do %>
    Outspire
  <% end %>

  <div class="navbar-end">
    <ul class="menu menu-horizontal p-0">
      <li><%= link_to 'ログイン', login_path, class: "btn btn-ghost" %></li>
    </ul>
    <ul class="menu menu-horizontal p-0">
      <li><%= link_to '新規登録', new_user_path, class: "btn btn-ghost" %></li>
    </ul>
  </div>

  <div class="navbar-end">
    <label for="my-drawer-2" class="btn btn-ghost drawer-button lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </label>
  </div>
</header>

<div class="drawer">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle">
  <div class="drawer-content flex flex-col">
  </div>
  <div class="drawer-side">
    <label for="my-drawer-2" class="drawer-overlay"></label>
    <ul class="menu p-4 overflow-y-auto w-80 bg-base-100">
      <li><%= link_to '新規登録', new_user_path %></li>
      <li><%= link_to 'ログイン', login_path %></li>
    </ul>
  </div>
</div>
