<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to 'Outspire', root_path, class: "btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to '新規登録', new_user_path, class: "nav-link" %></li>
      <li><%= link_to 'ログイン', login_path, class: "nav-link" %></li>
      <li>
        <details>
          <summary>
            ユーザー
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><%= current_user.name %></li>
            <%= link_to 'ログアウト', logout_path, class: "nav-link", method: :delete, data: { turbo_method: :delete } %>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>