<header class="navbar bg-customLiteGreen">
  <div class="container mx-auto flex justify-between items-center text-customGreen">
    <div class="flex-1">
      <%= link_to 'Outspire', root_path, class: "btn btn-ghost text-2xl" %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 flex space-x-4">
        <li><%= link_to 'レビュー', reviews_path, class: "btn btn-ghost" %></li>
        <li>
          <% if current_user.avatar.present? %>
            <%= link_to profile_path, class: "btn btn-ghost" do %>
              <%= image_tag current_user.avatar.url(:avatar), size: "40x40", class: "rounded-full" %>
            <% end %>
          <% else %>
            <%= link_to 'プロフィール', profile_path, class: "btn btn-ghost" %>
          <% end %>
        </li>
        <li><%= link_to 'ログアウト', logout_path, class: "btn btn-ghost", method: :delete, data: { turbo_method: :delete } %></li>
      </ul>
    </div>
  </div>
</header>
