<div class="container mx-auto px-4 text-customGreen">
  <div class="max-w-md mx-auto">
    <h1 class="text-4xl font-bold mb-4">ログイン</h1>
    <%= form_with url: login_path, class: "space-y-4" do |f| %>
      <div class="form-control">
        <%= f.label :メールアドレス, class: "label" %>
        <label class="input-group">
          <%= f.email_field :email, class: "input input-bordered w-full bg-customGreen text-customWhite" %>
        </label>
      </div>
      <div class="form-control">
        <%= f.label :パスワード, class: "label" %>
        <label class="input-group">
          <%= f.password_field :password, class: "input input-bordered w-full bg-customGreen text-customWhite" %>
        </label>
      </div>
      <%= f.submit "ログイン", class: "btn btn-primary w-full mt-4 text-customWhite" %>
    <% end %>

    <div class="relative my-4">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-500"></div>
      </div>
      <div class="relative flex justify-center text-sm">
        <span class="px-2 bg-customWhite text-[#172c66]"> または </span>
      </div>
    </div>

    <div class="text-center mt-4">
      <%= link_to auth_at_provider_path(provider: :google), class: "btn btn-ghost" do %>
        <i class="fa-brands fa-google"></i> Googleでログイン
      <% end %>
    </div>
    <div class="text-center mt-4 space-y-2">
      <%= link_to '登録ページへ', new_user_path, class: "link link-primary" %>
      <%= link_to 'パスワードをお忘れの方はこちら', new_password_reset_path, class: "link link-secondary" %>
    </div>
  </div>
</div>
